<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <style>
        /* footer */
        footer {
            width: 100%;
            margin-top: auto;
            text-align: center;
        }

        footer p {
            margin: 0;
            padding: 1rem;
        }
    </style>
</head>

<body>
    <footer class="text-center">
        <p>CREATED BY SUSHIL GUPTA COPYRIGHT © 2020-2021 </p>
    </footer>
</body>
</html>